# Day 2 (2-Feb-2021)
## Lecture 3

In [69]:
# String concatenation using "+" operator
s1 = "Hello"
s2 = 123 # number or integer

# I want to join s1 and s2
# print(s1 + s2) # gives TypeError: can't add int data type to str
s = s1 + str(s2)
print(s)

Hello123

## Comparison Operators
-  < >  == !=  >=  <=

In [5]:
marks = 70

if  marks < 30:
    print("Failed the test")
elif marks > 30 and marks <60:
    print("Passed and second division")
elif marks > 60 and marks <75:
    print("passed with first division")
else:
    print("passed with distinction")

passed with distinction

## Logical  
- and  
- or  
- not

## Control Flow/ Conditional statements
- if else elif  
- Difference in multiple if statements and using elif  
- ### Examples:
    - some made up example (if food at home, eat, else go to market)  
    - student's grades and division class (second/ first/ first with distinction)  
    - Is input no. odd or even?
    - Build a calculator which takes 2 nos. as input, Display the arithmetic operations: (* / + - // power) and output result

In [8]:
food = True

if food:
    print("Eat")
    print("Eat")
    print("Eat and dance")

else:
    print("Cook it")
    print("Or go to market")
    print(" Buy something")

print("Exercise")

Eat
Eat
Eat and dance
Exercise

In [11]:
a = int(input("Enter an integer"))
if a%2 == 0:
    print(f"{a} is even")
else:
    print(f"{a} is odd")

24 is even

In [13]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
print(f"a: {a}, b: {b}")

a: 12, b: 4

In [16]:
# operation + - * / power (**) modulo
operation = input("Enter the arithmetic operation")
print(f"user want to perform {operation} operation")
if operation == "+":
    print(a+b)
elif operation == "-":
    print(a-b)
elif operation == "*":
    print(a*b)
elif operation == "power":
    print(a**b)
else:
    # modulo
    print(a%b)

user want to perform power operation
20736

In [19]:
# nested if else
food = False
rain = True

if food:
    print("Eat it.")
else:
    if rain:
        print("Wait for rain to stop")
    else:
        print("Go to market and buy veggies")
        print("Cook and eat")

Wait for rain to stop

## Loops
- for  
- while

In [20]:
# print python 10 times
n = 10
for i in range(n):
    print("i:", i, "python")

i: 0 python
i: 1 python
i: 2 python
i: 3 python
i: 4 python
i: 5 python
i: 6 python
i: 7 python
i: 8 python
i: 9 python

In [21]:
for i in range(1,n): # i -> 1 to n-1
    print("i:", i, "python")

i: 1 python
i: 2 python
i: 3 python
i: 4 python
i: 5 python
i: 6 python
i: 7 python
i: 8 python
i: 9 python

In [23]:
for i in range(1, n, 2):
    print("i:", i, "python")

i: 1 python
i: 3 python
i: 5 python
i: 7 python
i: 9 python

In [26]:
n = 10
count = 0
for x in range(0, n, 2):
    print("i:", x, "python")
    count += 1
    
print(count)

i: 0 python
i: 2 python
i: 4 python
i: 6 python
i: 8 python
1

In [ ]:
count -= 1 # count = count - 1
count *= -1 # count = count * (-1)
count /= 2 # count = count / 2

In [27]:
i = 1 # initialize your counter
while i <= 10:
    print(i, "python") 
    i += 2 # update counter
print(i)

1 python
3 python
5 python
7 python
9 python
11

In [31]:
for i in range(n, 1, -2):
    print("i:", i, "python")

i: 10 python
i: 8 python
i: 6 python
i: 4 python
i: 2 python

# Lecture 4
### Examples
1. printing numbers upto 100  
2. printing prime numbers upto 100
3. Pattern Questions

In [35]:
# print numbers upto 100
N = 100
for num in range(1, N+1):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [68]:
# print prime numbers upto N
N = 100
count = 0
for num in range(2, N+1):
    flag = True
    for i in range(2, int(num**0.5)+1):
        if num%i == 0:
            flag = False
            break

    if flag:
        print(num, end=" ")
        count += 1
print(f"\nNo. of prime numbers upto {N} is {count}")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
No. of prime numbers upto 100 is 25

In [39]:
# Nested loop
for i in range(2):
    print("i:", i)
    for j in range(3):
        print("\tj:", j)
        for k in range(2):
            print(f"\t\t k: {k} I love python")

i: 0
	j: 0
		 k: 0 I love python
		 k: 1 I love python
	j: 1
		 k: 0 I love python
		 k: 1 I love python
	j: 2
		 k: 0 I love python
		 k: 1 I love python
i: 1
	j: 0
		 k: 0 I love python
		 k: 1 I love python
	j: 1
		 k: 0 I love python
		 k: 1 I love python
	j: 2
		 k: 0 I love python
		 k: 1 I love python

In [46]:
# patterns
N = 5
for row in range(N):
    print("row", row)
    for col in range(row+1):
        print("\t col",col, end= " ")
        print("*", end=" ")
    print()

print()
for row in range(N):
    for col in range(row+1):
        print("*", end=" ")
    print() # come to new line

row 0
	 col 0 *
row 1
	 col 0 * 	 col 1 *
row 2
	 col 0 * 	 col 1 * 	 col 2 *
row 3
	 col 0 * 	 col 1 * 	 col 2 * 	 col 3 *
row 4
	 col 0 * 	 col 1 * 	 col 2 * 	 col 3 * 	 col 4 *

*
* *
* * *
* * * *
* * * * *

In [48]:
N = 5
num_spaces = N-1
num_stars = 1
for row in range(N):
    # print spaces
    for col in range(num_spaces):
        print(" ", end=" ")
    # print stars
    for col in range(num_stars):
        print("*", end=" ")

    # prepare for next row
    num_spaces -= 1
    num_stars += 2
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [51]:
N = 5
num_spaces = N-1
num_stars = 1
for row in range(N):
    # print spaces
    for col in range(num_spaces):
        print(" ", end=" ")
    # print stars
    for col in range(num_stars):
        print(col+1, end=" ")

    # prepare for next row
    num_spaces -= 1
    num_stars += 2
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [55]:
N = 5
for row in range(N):
    # print spaces
    for col in range(N-row-1):
        print(" ", end=" ")
    # print stars
    for col in range(row+1):
        print("*", end=" ")

    # prepare for next row
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
N = 4
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |  
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |  
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |  
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |  
  
N = 3  
| 1 2 3 | 1 2 3 | 1 2 3 |  
| 1 2 3 | 1 2 3 | 1 2 3 |  
| 1 2 3 | 1 2 3 | 1 2 3 |

In [62]:
N = 4
for row in range(N):
    print("|", end = " ")
    for col in range(N):
        for val in range(N):
            print(val+1, end=" ")
        print("|", end=" ")
    print() # next row

| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |
| 1 2 3 4 | 1 2 3 4 | 1 2 3 4 | 1 2 3 4 |